
<br>
<div class="container">
  <div class="row">
    <div class="table-responsive">
      <table class="table table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Mobile</th>
          <th>Address</th>
          <th>Employee email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees">
          <td>{{emp.id}}</td>
          <td>{{emp.name}}</td>
          <td>{{emp.mobile}}</td>
          <td>{{emp.address}}</td>
          <td>{{emp.email}}</td>
          <td (click)="deleteEmployee(emp.id)"><a>Delete</a></td> &nbsp;
          <td [routerLink]="['/employee/update',emp.id]"><a>Update</a></td>
        </tr>
      </tbody>
      </table>
      
      <div class="form-group" style="text-align: center;">
        <a routerLink="/add/Detail" class="btn btn-primary" role="button">ADD</a>
        
      </div>
    </div>
  </div>
</div>

<br>
<div *ngFor="let product of products">
  {{product.name}}
</div>