<div class="container">
    <div class="row">
      <div class="col-sm-12">
      <form id="newEmployeeDetail" name="newEmployeeDetail" #employeeDetail="ngForm" (ngSubmit)="updateemployee(employeeDetail.value)">
          <div class="form-group col-md-2">
            <label class="control-label" >Employee Name</label>
  <div class="col-md-3">
    <input type="text" name="name"  #name="ngModel"  placeholder="Employee name" [(ngModel)]="data.name">
  </div>
  </div>
  <div class="form-group col-md-2">
      <label class="control-label" >Mobile </label>
  <div class="col-md-3">
  <input type="number" name="mobile" #mobile="ngModel" placeholder="Mobile Number" [(ngModel)]="data.mobile" >
  </div>
  </div>
  <div class="form-group col-md-2">
      <label class="control-label" >Address</label>
  <div class="col-md-3">
  <input type="text" name="address" #address="ngModel" placeholder="Employee Addess" [(ngModel)]="data.address" >
  </div>
  </div>
  <div class="form-group col-md-2">
      <label class="control-label" >Employee Email</label>
  <div class="col-md-3">
  <input type="email" name="email" #email="ngModel" placeholder="Employee Email" [(ngModel)]="data.email" >
  </div>
  </div>
  <div class="form-group" style="text-align: center;">
    <button type="submit" class="btn btn-default" value="Update employee">Update</button>
  
  </div>
  
          
        </form>
       
      </div>
    </div>
  </div>
  
  