<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <form id="newEmployeeDetail" name="newEmployeeDetail" #employeeDetail="ngForm" (ngSubmit)="addemployee(employeeDetail.value)">
        <div class="form-group col-md-2">
          <label class="control-label" >Employee Name</label>
<div class="col-md-3">
  <input type="text" name="name" id="name" placeholder="Employee name" ngModel>
</div>
</div>
<div class="form-group col-md-2">
    <label class="control-label" >Mobile </label>
<div class="col-md-3">
<input type="number" name="mobile" id="mobile" placeholder="Mobile Number" ngModel>
</div>
</div>
<div class="form-group col-md-2">
    <label class="control-label" >Address</label>
<div class="col-md-3">
<input type="text" name="address" id="address" placeholder="Employee Addess" ngModel>
</div>
</div>
<div class="form-group col-md-2">
    <label class="control-label" >Employee Email</label>
<div class="col-md-3">
<input type="email" name="email" id="email" placeholder="Employee Email" ngModel>
</div>
</div>
<div class="form-group" style="text-align: center;">
  <button type="submit" class="btn btn-default" value="Add employee">save</button>

</div>
<div class="form-group" style="text-align: center;">
    <a routerLink="/" class="btn btn-secondary" role="button">Back</a>
</div>
        
      </form>
      <h5 *ngIf="isAdded">{{confirmation}}</h5>
    </div>
  </div>
</div>

